<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ds.layar-vision"
    version="0.0.1">
    <name>Layar</name>
    <description>Layar Vision Plugin</description>
    <license>Apache 2.0</license>
    <keywords>layar,vision</keywords>

    <js-module src="www/Layar.js" name="Layar">
        <clobbers target="Layar" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Layar">
                <param name="android-package" value="com.ds.layar-vision.Layar"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/LayarVision.java" target-dir="src/org/apache/cordova/layar" />

        <js-module src="www/Layar.js" name="Layar">
            <clobbers target="Layar" />
        </js-module>

     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Layar">
                 <param name="ios-package" value="CDVLayar" />
             </feature>
         </config-file>

         <js-module src="www/Layar.js" name="Layar">
            <clobbers target="Layar" />
         </js-module>

         <header-file src="src/ios/CDVLayar.h" />
         <source-file src="src/ios/CDVLayar.m" />
     </platform>
</plugin>