<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ds.layar-vision"
    version="0.0.3">
    <name>Layar</name>
    <description>Layar Vision Plugin</description>
    <license>Apache 2.0</license>
    <keywords>layar,vision</keywords>
    <author>Digital Scientists</author>

    <preference name="KEY" />
    <preference name="SECRET" />

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/Layar.js" name="Layar">
        <clobbers target="Layar" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Layar">
                <param name="android-package" value="com.ds.cordova.layar.LayarVision"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

            <uses-feature android:name="android.hardware.camera" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <!-- Vision Only -->
            <activity
                android:name="com.layar.sdk.LayarVisionActivity"
                android:launchMode="singleTask"
                android:screenOrientation="nosensor"
                android:theme="@android:style/Theme.Light.NoTitleBar" />

            <!-- Common -->
            <activity
                android:name="com.layar.LayerDetailsActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
            <activity
                android:name="com.layar.WebActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
            <activity
                android:name="com.layar.ShareSocialActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
            <activity
                android:name="com.layar.VideoActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:theme="@style/FullScreenTheme" />
            <activity
                android:name="com.layar.AudioActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:theme="@style/SmartDialogTheme" />
            <activity
                android:name="com.layar.ScreenshotActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:theme="@style/FullScreenTheme" />
        </config-file>

        <!-- PLugin implementation -->
        <source-file src="src/android/LayarVision.java" target-dir="src/com/ds/cordova/layar" />

        <!-- Libraries -->
        <source-file src="src/android/sdk/libs/android-support-v4.jar" target-dir="libs"/>
        <source-file src="src/android/sdk/libs/httpmime-4.1-beta1.jar" target-dir="libs"/>
        <source-file src="src/android/sdk/libs/jsoup-1.7.1.jar" target-dir="libs"/>
        <source-file src="src/android/sdk/libs/player.jar" target-dir="libs"/>
        <source-file src="src/android/sdk/libs/armeabi/libHelios.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/sdk/libs/armeabi/libiconv.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/sdk/libs/armeabi/libNativeUtil.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/sdk/libs/armeabi-v7a/libHelios_armv7.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/sdk/libs/armeabi-v7a/libiconv_armv7.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/sdk/libs/armeabi-v7a/libNativeUtil.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/sdk/libs/x86/libHelios.so" target-dir="libs/x86"/>
        <source-file src="src/android/sdk/libs/x86/libiconv.so" target-dir="libs/x86"/>
        <source-file src="src/android/sdk/libs/x86/libNativeUtil.so" target-dir="libs/x86"/>
    
        <!-- Will hope it works! :) R.java is regenrated -->
        <source-file src="src/android/sdk/gen/com/layar/player/R.java" target-dir="src/com/layar/player"/>
        <source-file src="src/android/sdk/gen/com/layar/player/BuildConfig.java" target-dir="src/com/layar/player"/> -->

        <!-- adding resources -->
        <source-file src="src/android/sdk/res/drawable/actionbar_item_selector.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_copy.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_copy_f.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_copy_n.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_copy_p.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_launch.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_launch_f.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_launch_n.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_launch_p.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_close.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_close_hit.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_close_x.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_pause.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_pause_hit.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_pause_x.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_play.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_play_hit.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_play_x.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/btn_player_slider.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/checkbox.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/checkbox_checked.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/checkbox_unchecked.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/custom_home_button.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/custom_menu_button.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/divider.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/divider_horizontal_bright.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/email_icon.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/group_border.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/group_mask.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/icon_3d.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/icon_overlay.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/icon_overlay_alpha.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_btn_round_more.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_btn_round_more_disabled.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_btn_round_more_normal.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_dialog_menu_generic.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_media_pause.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/ic_media_play.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/layar_splash.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/layer_details_divider.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/library_icon.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/list_divider.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/more_icon.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/no_poi_image.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/popup_bottom_bright.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/popup_bottom_medium.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/popup_center_bright.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/popup_top_dark.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/scan_toast_background.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/shadow_clue_gallery.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/sharing_icon.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/slider_background.9.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/splash_logo_container.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/throbber.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/throbber_dark.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/throbber_dark_x.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/throbber_light.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/throbber_light_x.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/transparency.png" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/vision_dark_bg.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable/vision_no_content_bg.xml" target-dir="res/drawable/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ab_solid.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_close.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_close_hit.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_pause.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_pause_hit.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_play.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/btn_player_play_hit.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/group_border.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/group_mask.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/icon_3d.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/icon_about.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_action_scan.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_btn_round_more_disabled.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_btn_round_more_normal.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_about.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_camera.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_layer_actions.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_list.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_mapmode.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_refresh.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_refresh_white.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_report_problem.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_settings.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/ic_menu_share.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/layar_watermark.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/list_pressed_holo_dark.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/list_selected_holo_dark.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/menu_dropdown_panel_holo_light.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/more_icon.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/no_poi_image.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/popup_bottom_bright.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/popup_bottom_medium.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/popup_center_bright.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/popup_top_dark.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/scan_image.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/splash_logo.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/throbber.xml" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/throbber_dark.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/throbber_dark_x.xml" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/throbber_light.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/throbber_light_x.xml" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-hdpi/vision_brackets.9.png" target-dir="res/drawable-hdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_action_scan.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_about.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_camera.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_layer_actions.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_list.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_mapmode.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_refresh.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_refresh_white.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_report_problem.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_settings.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/ic_menu_share.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/list_pressed_holo_dark.9.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/list_selected_holo_dark.9.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/menu_dropdown_panel_holo_light.9.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/scan_image.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-mdpi/splash_logo.png" target-dir="res/drawable-mdpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/poi_icon_border.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/poi_icon_glow.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/poi_icon_shadow.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_background.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_audio.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_email.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_geo.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_googleplay.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_layar.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_sms.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_tel.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_unknown.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_vcard.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_video.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_icon_web.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/qrcode_shadow.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/throbber_inner.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/throbber_outer.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/video_bg.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/video_fullscreen.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/video_loader.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/video_play.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/video_rewind.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/vision_bracket.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-nodpi/vision_no_content_icon.png" target-dir="res/drawable-nodpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_action_next.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_action_previous.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_action_scan.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_about.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_ar_custom_overflow.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_camera.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_layer_actions.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_list.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_mapmode.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_refresh.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_refresh_white.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_report_problem.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_settings.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/ic_menu_share.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/list_pressed_holo_dark.9.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/list_selected_holo_dark.9.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/menu_dropdown_panel_holo_light.9.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/scan_image.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/splash_logo.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_button_bg.9.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_active.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_background.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_fail.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_inactive.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_inactive_ok.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_ok.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_1.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_2.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_3.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_4.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_5.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_6.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_7.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_animation.xml" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/drawable-xhdpi/vision_status_transition_background.png" target-dir="res/drawable-xhdpi/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_audio.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_layer_details.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_screenshot.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_share_social.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_video.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_vision.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_activity_web.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_dialog_message_with_icon.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_dialog_smart.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_dialog_smart_progress.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_fragment_layer_details.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_list_item.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_audio.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_custom_home_button.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_custom_menu_button.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_divider.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_message_input.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_poi_action_item.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_qrcode_plaintext.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_qrcode_template.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_take_screenshot_bar.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_unsupported_content.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_loading.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_nav_bar.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_no_content.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_scan_brackets.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_scan_no_results.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_scan_toast.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/layout/layar_view_vision_status.xml" target-dir="res/layout/"/>
        <source-file src="src/android/sdk/res/menu/layar_activity_geo.xml" target-dir="res/menu/"/>
        <source-file src="src/android/sdk/res/menu/layar_activity_web.xml" target-dir="res/menu/"/>
        <source-file src="src/android/sdk/res/values/colors.xml" target-dir="res/values/"/>
        <source-file src="src/android/sdk/res/values/defaults.xml" target-dir="res/values/"/>
        <source-file src="src/android/sdk/res/values/dimen.xml" target-dir="res/values/"/>
        <source-file src="src/android/sdk/res/values/strings-player.xml" target-dir="res/values/"/>
        <source-file src="src/android/sdk/res/values/styles.xml" target-dir="res/values/"/>
        <source-file src="src/android/sdk/res/values-en-rUS/defaults.xml" target-dir="res/values-en-rUS/"/>
        <source-file src="src/android/sdk/res/values-v14/styles.xml" target-dir="res/values-v14/"/>
        <!-- merging resources -->
        <!-- no any for now -->
     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Layar">
                 <param name="ios-package" value="CDVLayar" />
             </feature>
         </config-file>

        <config-file target="*-Info.plist" parent="LayarKey">
            <string>$KEY</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="LayarSecret">
            <string>$SECRET</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIRequiredDeviceCapabilities">
          <array>
             <string>opengles-2</string>
             <string>video-camera</string>
             <string>accelerometer</string>
             <string>magnetometer</string>
             <string>location-services</string>
             <string>armv7</string>
          </array>
        </config-file>


         <header-file src="src/ios/CDVLayar.hpp" />
         <source-file src="src/ios/CDVLayar.mm" />
        
         <resource-file src="src/ios/Layar/Resources/LayarSDKResources.bundle" />

         <header-file src="src/ios/Layar/Headers/LayarPlayer.hpp" target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LayarPlayerDelegate.h" target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPARVisionViewController.hpp"  target-dir="layar"  />
         <header-file src="src/ios/Layar/Headers/LCTrackingManagerDelegate.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPActionManager.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPActionSheet.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPARVisionViewBase.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPBIW.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPBIWBase.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPCachingViewController.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPFactory.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPLayerActionHandler.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPPOIViewController.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPReferenceImageManager.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPShowDialog.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LPStatusView.h"  target-dir="layar" />
         <header-file src="src/ios/Layar/Headers/LSPOIView.h"  target-dir="layar" />

         <source-file src="src/ios/Libraries/libsbjson-ios.a" framework="true"  target-dir="layar" />
         <source-file src="src/ios/Libraries/libMPOAuthMobile.a" framework="true"  target-dir="layar" />
         <source-file src="src/ios/Layar/LayarSDK" framework="true"  target-dir="layar" />

         <framework src="libz.dylib" />
         <framework src="libiconv.dylib" />
         <framework src="libc++.dylib" />
         <framework src="libxml2.dylib" />
         <framework src="AudioToolbox.framework" />
         <framework src="AVFoundation.framework" />
         <framework src="CFNetwork.framework" />
         <framework src="CoreAudio.framework" />
         <framework src="CoreData.framework" />
         <framework src="CoreLocation.framework" />
         <framework src="CoreMedia.framework" />
         <framework src="CoreMotion.framework" />
         <framework src="CoreVideo.framework" />
         <framework src="CoreTelephony.framework" />
         <framework src="CoreGraphics.framework" />
         <framework src="Foundation.framework" />
         <framework src="MediaPlayer.framework" />
         <framework src="MessageUI.framework" />
         <framework src="OpenAL.framework" />
         <framework src="OpenGLES.framework" />
         <framework src="Security.framework" />
         <framework src="SystemConfiguration.framework" />
         <framework src="Twitter.framework" />
         <framework src="QuartzCore.framework" />
         <framework src="UIKit.framework" />
         <framework src="AddressBook.framework" />
         <framework src="AddressBookUI.framework" />
         <framework src="Social.framework" weak="true" />
     </platform>
</plugin>