<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ds.layar-vision"
    version="0.0.1">
    <name>Layar</name>
    <description>Layar Vision Plugin</description>
    <license>Apache 2.0</license>
    <keywords>layar,vision</keywords>

    <js-module src="www/Layar.js" name="Layar">
        <clobbers target="Layar" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Layar">
                <param name="android-package" value="com.ds.cordova.layar.LayarVision"/>
            </feature>
        </config-file>
        <source-file src="src/android/LayarVision.java" target-dir="src/com/ds/cordova/layar" />
     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="Layar">
                 <param name="ios-package" value="CDVLayar" />
             </feature>
         </config-file>
         <header-file src="src/ios/CDVLayar.hpp" />
         <source-file src="src/ios/CDVLayar.mm" />
     </platform>
</plugin>